<!-- div class="container"> -->
  <div class="wrapper">
    <div class="frame">
      <ul class="board" data-drop="true" data-jqyoui-options jqyoui-droppable="true">
        <li ng-repeat="magnet in main.magnets"
            class="magnet {{magnet.color}}"
            ng-class="main.getClass(magnet)"
            style="top: {{magnet.y}}px; left: {{magnet.x}}px; transform: rotate({{magnet.rotation}}deg)"
            ng-click="main.setSelected(magnet)"
            ng-model="main.magnets"
            data-drag="{{main.isDraggable(magnet)}}"
            data-jqyoui-options="{containment: 'parent'}"
            jqyoui-draggable="{index: {{$index}}, animate:true, onStop: 'main.setPosition(magnet, $index)'}">
              {{magnet.character}}
        </li>
      </ul>
      <div class="controls" ng-include="'components/controls/controls.html'"></div>
    </div>
  </div>
<!-- </div> -->
