<div class="logo-holder">  
  <a href="http://ian.sweet.uk.net" class="logo shadow">net.uk.sweet</a>
</div>
<div class="toolbar" ng-show="main.isLoaded()">
  <div class="menu" sw-menu colors="main.colors"></div>
  <ul ng-enabled="!main.getSelected()" class="palette">
    <li ng-class="{disabled: !main.getSelected() || main.getSelected().color === color}" 
      ng-repeat="color in main.colors" ng-click="main.setSelectedColor(color)">
        <button class="{{color}} color fa-circle fa panel">
          <span>{{color}}</span>
        </button>
    </li>
  </ul>
  <div ng-enabled="!main.getSelected()" class="utilities">
    <button ng-class="{disabled: !main.getSelected()}" class="fa-rotate-right fa panel"  
      sw-auto-fire min-speed="3" max-speed="10" steps="10" callback="main.rotateSelected">
        <span>Rotate</span>
    </button>
    <button ng-click="main.deleteSelected()" ng-class="{disabled: !main.getSelected()}" 
      class="fa-trash fa panel">
        <span>Delete</span>
    </button>
  </div>
</div>
<div class="connections-holder">  
  <span class="shadow fa-users fa connections">({{main.socket.count}})</span>
</div>