<a href="http://ian.sweet.uk.net" class="logo shadow">net.uk.sweet</a>
<div class="toolbar">
  <div class="menu" sw-menu colors="main.colors" add-magnet="main.addMagnet"></div>
  <ul ng-enabled="!main.selected" class="palette">
    <li ng-class="{disabled: !main.selected || main.selected.color === color}" 
      ng-repeat="color in main.colors" ng-click="main.setSelectedColor(color)">
        <button class="{{color}} fa-circle fa panel">
          <span>{{color}}</span>
        </button>
    </li>
  </ul>
  <div class="utilities">
    <button ng-click="main.rotateSelected()" class="fa-rotate-right fa panel" 
      sw-auto-fire min-speed="3" max-speed="10" steps="10">
        <span>Rotate</span>
    </button>
    <button ng-click="main.deleteSelected()" class="fa-trash fa panel">
      <span>Delete</span>
    </button>
  </div>
</div>
<span class="shadow fa-users fa connections">({{main.socket.count}})</span>